.IMS-login {
    &__container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__logo-container {
        text-align: center;

        mat-icon {
            &:not(:last-child) {
                margin-right: 5px;
            }

            width: 50px;
            height: 50px;
            font-size: 40px;
        }
    }

    &__username,
    &__password {
        display: flex;
        align-items: center;

        mat-form-field {
            width: 100%;
        }

        input {
            width: 100%;
        }
    }

    &__button {
        text-align: center;
    }
}