/* You can add global styles to this file, and also import other style files */
@import '@angular/cdk/overlay-prebuilt.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
    font-family: "Libre Baskerville", serif;
    margin: 0;
}

h1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
}

.IMS__container {
    max-width: 1360px;
    margin: 0 auto;
    padding: {
        right: 15px;
        left: 15px;
    };
}